/nbproject/private/
/vision_node/build/
/vision_node/dist/
/mathematics/dist/
/mathematics/build/
/robot/build/
/robot/dist/
/vision/build/
/vision/dist/
/VisionNode/build/
/mathematics/Mathematics/dist/
/mathematics/Mathematics/build/
/robot/Robot/build/
/robot/Robot/dist/
/vision/Vision/build/
/vision/Vision/dist/
/VisionNode/dist/